@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    font-family: 'Lexend',sans-serif;
    position: relative;
    background-color:black;
    height: 100vh;
    overflow-x: hidden !important; 
}
.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-box img{
   padding: 20px;
   height: 90px;
}
.flex-box .links{
    color: gray;
    display: flex;
    justify-content: space-between;
}
.flex-box .links p{
    margin: 0 4rem;
    font-size: 1.5rem;
    font-weight: 200;
    cursor: pointer;
    letter-spacing: 5px;
}
.flex-box .ham{
    display: none;
}
.hero__section{ 
    margin-top: 3rem;
    position: relative;
    text-align: center;
}
.hero__section .check{
    right: 10rem;
    opacity: 0.1;
    z-index: -1;
    position: absolute;
}
.hero__section .shoe{
    z-index: 100;
}
footer {
    display: flex;
    justify-content: space-between;
}
.socials{
    display: flex;
}
.socials img{
    width: 100%;
    height: 70px;
}
.socials img:not(:last-child){
    margin-right: 5rem;
}
.cta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 30%;
}
footer .cta .price{
    color: white;
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    letter-spacing: 0.2em;
    font-weight: 500;
}
footer .cta button{
    color: white;
    background-color: red;
    border-style: none;
    border-radius: 50px;
    width: 4em;
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    letter-spacing: 0.2em;
    transition: 1s;
}
footer .cta button:hover{
    color: red;
    background-color: white;
}
@media only screen and (max-width:630px){
    body{
        overflow: hidden;
    }
    .flex-box .cart{
        display: none;
    }
    .flex-box .ham{
        display: inline-block;
    }
    .flex-box img{
        height: 95px;
    }
    .flex-box .links{
        display: none; 
    }
    .hero__section{ 
        margin-top: 40%;
        position: relative;
        text-align: center;
    }
    .hero__section .check{
        transform: rotate(-10deg);
        padding-top: 5rem;
        width: 100%;
        right: 0;
        opacity: 0.2;
        z-index: -1;
        position: absolute;
    }
    .hero__section .shoe{
        width: 95%;
        z-index: 100;
    }
    footer {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .socials{
        margin-top: 2rem;
        order: 2;
    }
    .cta{
        margin-top: 2rem;
        order: 1;
    }
    .socials img{
        width: 100%;
    }
}
@media only screen and (max-width:360px){
    .hero__section{ 
        margin-top: 1rem;
        position: relative;
        text-align: center;
    }
}