@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lexend',sans-serif;
    position: relative;
    background-color:black;
}
.flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-box img{
   padding: 15px;
   height: 90px;
}
.flex-box .links{
    color: gray;
    display: flex;
    justify-content: space-between;
}
.flex-box .links p{
    margin: 0 4rem;
    font-size: 1.5rem;
    font-weight: 200;
    cursor: pointer;
    letter-spacing: 5px;
}
.flex-box .ham{
    display: none;
}
@media only screen and (max-width:630px){
    .flex-box .cart{
        display: none;
    }
    .flex-box .ham{
        display: inline-block;
    }
    .flex-box img{
        height: 75px;
    }
    .flex-box .links{
        display: none; 
    }
}